/artifacts
/foundry_artifacts
cache
coverage
build
deployments/localhost
deployments/*/solcInputs/*.json
dist
downloads
node_modules
res
src/types
target
test/uarch-bin
.node*
.vscode
*.abi
*.log
/out
