/artifacts
/foundry_artifacts
cache
coverage
report
lcov.info
build
deployments/localhost
deployments/*/solcInputs/*.json
dist
downloads
node_modules
res
src/types
target
test/uarch-bin
test/uarch-log
.node*
.vscode
*.abi
*.log
/out
